*{
    margin:0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background: url("../images/login_bg.gif");
    background-size: 100%100%;
    position: relative;
}
.content_all{
    width: 570px;
    height: 370px;
    background: rgba(255,255,255,0.1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);

    border-radius: 5px;
    position: absolute;
    top: 50%;
    margin-top: -185px;
    left: 50%;
    margin-left: -285px;
}
.content{
    width: 547px;
    height: 355px;
    background: rgba(255,255,255,0.1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);
    margin: 8px auto;
    overflow: hidden;

}
.input_all{
    width: 367px;
    height: 233px;
    margin: 65px auto;
}
.input_{
    width: 100%;
    height: 55px;
    background-color: rgba(0,0,0,0.2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);
    border-radius: 30px;
    border: 1px solid #7198CA;

}
.input_password{
    margin-top: 30px;
}
.input_submit{
    border: none;
    width: 100%;
    height: 55px;
    border-radius: 25px;
    margin-top: 33px;
    font-size: 22px;
    color: white;
    background-color: #F1C50E;
    letter-spacing:10px;
    text-align: center;
    line-height: 55px;



}
.img_img{
    width: 30px;
    height: 34px;
    margin-top: 10px;
    margin-left: 15px;
    background: none;
    float: left;
}
.user_input{
    width: 280px;
    height: 30px;
    border: none;
    margin-top: 12px;
    border-left:1px solid #91A2BF ;
    margin-left:10px;
    background: none;
    color: white;
    padding-left: 10px;
    font-size: 18px;

}
.password_input{
    width: 280px;
    height: 30px;
    border: none;
    margin-top: 12px;
    border-left:1px solid #91A2BF ;
    margin-left:10px;
    background: none;
    color: white;
    padding-left: 10px;
    font-size: 20px;
}