<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>互联网+农业云</title>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/common_click.js"></script>
    <script src="js/echarts.min.js" ></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/common.css">

</head>
<body>
<div class="top_all">
    <p class="top_title">互联网+农业云</p>
    <div class="top_user">
        <div class="user_user">
            <div class="top_user_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_user_name">你好！管理员</p>
        </div>

    </div>


    <div class="top_out">
        <div class="out_out">
            <div class="top_out_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_out_name">退出</p>
        </div>

    </div>



</div>

<!--图表-->
<div class="content_all">
    <!--left-->
    <div class="content_left">
        <div class="left_one two">
            <p class="left_one_title">种植面积</p>
            <div id="main" class="left_one_echarts">
                <script type="text/javascript">
                    if (screen.width>1919)
                        document.write('<script type="text/javascript" src="js/index_echarts_1920.js"><\/script>');
                    if (screen.width<1919){
                        document.write('<script type="text/javascript" src="js/index_echarts_1440.js"><\/script>');
                    }
                </script>


            </div>

        </div>
        <div class="left_two two">
            <p class="left_two_title">作物品种</p>

            <div id="main2" class="left_one_echarts">

                <script type="text/javascript">
                    if (screen.width>1919)
                        document.write('<script type="text/javascript" src="js/index_echarts_1920.js"><\/script>');
                    if (screen.width<1919){
                        document.write('<script type="text/javascript" src="js/index_echarts_1440.js"><\/script>');
                    }
                </script>

            </div>

        </div>
    </div>
    <!--map-->
    <div class="content_cener">
        <div class="img_postion">
            <a href="https://bbs.csdn.net/topics/392184885?page=1"><img src="images/postion.png" alt=""></a>
        </div>
        <div class="img_postion">
            <a href="https://bbs.csdn.net/topics/392184885?page=1"><img src="images/postion.png" alt=""></a>
        </div>
        <div class="img_postion">
            <a href="https://bbs.csdn.net/topics/392184885?page=1"><img src="images/postion.png" alt=""></a>
        </div>
        <div class="img_postion">
            <a href="https://bbs.csdn.net/topics/392184885?page=1"><img src="images/postion.png" alt=""></a>
        </div>
        <div class="img_postion">
            <a href="https://bbs.csdn.net/topics/392184885?page=1"><img src="images/postion.png" alt=""></a>
        </div>
        <div class="img_postion">
            <a href="https://bbs.csdn.net/topics/392184885?page=1"><img src="images/postion.png" alt=""></a>
        </div>

        <div class="center_map">

            <img src="images/map.png" alt="">
        </div>


    </div>
    <!--right-->
    <div class="content_right">
        <div class="left_two two">
            <p class="left_two_title">粮食销量</p>

            <div id="main3" class="left_one_echarts">

                <script type="text/javascript">
                    if (screen.width>1919)
                        document.write('<script type="text/javascript" src="js/index_echarts_1920.js"><\/script>');
                    if (screen.width<1919){
                        document.write('<script type="text/javascript" src="js/index_echarts_1440.js"><\/script>');
                    }
                </script>

            </div>

        </div>
        <div class="left_two two">
            <p class="left_two_title">粮食销量</p>

            <div id="main4" class="left_one_echarts">
                <script type="text/javascript">
                    if (screen.width>1679){
                        document.write('<script type="text/javascript" src="js/index_echarts_1920.js"><\/script>');
                    }
                    if (screen.width<1679){
                        document.write('<script type="text/javascript" src="js/index_echarts_1440.js"><\/script>');
                    }
                </script>
            </div>

        </div>
    </div>

</div>

<div class="footer_all"></div>

 <script src="js/index.js"></script>
</body>
</html>




