<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>互联网+农业云</title>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/common_click.js"></script>
    <script src="js/echarts.min.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/jzny.css">
    <link rel="stylesheet" href="lib/jqueryPagination/css/jquery.pagination.css" />
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="lib/jqueryPagination/js/jquery.pagination.min.js"></script>


</head>
<body>
<div class="top_all">
    <p class="top_title">互联网+农业云</p>
    <div class="top_user">
        <div class="user_user">
            <div class="top_user_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_user_name">你好！管理员</p>
        </div>

    </div>


    <div class="top_out">
        <div class="out_out">
            <div class="top_out_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_out_name">退出</p>
        </div>

    </div>



</div>


<div class="content_all">
    <div class="content">
        <div class="content_left">
            <div class="content_left_1">
                <div class="content_left_1_title">实时记录</div>
                <div class="content_left_1_content_all">
                    <div class="content_left_1_content">
                         <div class="content_data">
                             <div class="content_data_left"></div>
                             <div class="content_data_right"></div>
                         </div>
                        <div class="content_data">
                            <div class="content_data_left"></div>
                            <div class="content_data_right"></div>
                        </div>
                        <div class="content_data">
                            <div class="content_data_left"></div>
                            <div class="content_data_right"></div>
                        </div>
                        <div class="content_data">
                            <div class="content_data_left"></div>
                            <div class="content_data_right"></div>
                        </div>
                        <div class="content_data">
                            <div class="content_data_left"></div>
                            <div class="content_data_right"></div>
                        </div>
                        <div class="content_data">
                            <div class="content_data_left"></div>
                            <div class="content_data_right"></div>
                        </div>
                        <div class="content_data">
                            <div class="content_data_left"></div>
                            <div class="content_data_right"></div>
                        </div>
                        <div class="content_data">
                            <div class="content_data_left"></div>
                            <div class="content_data_right"></div>
                        </div>
                        <div class="content_data">
                            <div class="content_data_left"></div>
                            <div class="content_data_right"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="content_left_2">
                <div class="content_left_1_title">数据曲线</div>
                <div id="main" class="content_left_2_content">



                    <script type="text/javascript">
                        if (screen.width>1919)
                            document.write('<script type="text/javascript" src="js/jzny_echarts_1920.js"><\/script>');
                        if (screen.width<1919){
                            document.write('<script type="text/javascript" src="js/jzny_echarts_1440.js"><\/script>');
                        }
                    </script>





                </div>
            </div>
        </div>
        <div class="content_right">
            <div class="content_right_one">
                <div class="content_right_one_title">历史记录</div>
                <div class="content_right_one_content">
                    <!--<table class="content_right_one_content_table">-->
                        <table class="content_right_one_content_table">
                            <tr>
                             <td></td>
                             <td>风向</td>
                             <td>风速</td>
                             <td>雨量</td>
                             <td>空气温度</td>
                             <td>空气湿度</td>
                             <td>土壤温度</td>
                             <td>土壤湿度</td>
                             <td>光照强度</td>
                             <td>CO2浓度</td>
                         </tr>
                            <tr>
                             <td>2017.05.18<br>16:00:56</td>
                             <td>东北风</td>
                             <td>4（m/s）</td>
                             <td>500（mm/min）</td>
                             <td>12℃ </td>
                             <td> 5%</td>
                             <td>45℃</td>
                             <td>20%</td>
                             <td> 5klux </td>
                             <td>20ppm</td>
                         </tr>
                            <tr>
                                <td>2017.05.18<br>16:00:56</td>
                                <td>东北风</td>
                                <td>4（m/s）</td>
                                <td>500（mm/min）</td>
                                <td>12℃ </td>
                                <td> 5%</td>
                                <td>45℃</td>
                                <td>20%</td>
                                <td> 5klux </td>
                                <td>20ppm</td>
                            </tr>
                            <tr>
                                <td>2017.05.18<br>16:00:56</td>
                                <td>东北风</td>
                                <td>4（m/s）</td>
                                <td>500（mm/min）</td>
                                <td>12℃ </td>
                                <td> 5%</td>
                                <td>45℃</td>
                                <td>20%</td>
                                <td> 5klux </td>
                                <td>20ppm</td>
                            </tr>
                            <tr>
                                <td>2017.05.18<br>16:00:56</td>
                                <td>东北风</td>
                                <td>4（m/s）</td>
                                <td>500（mm/min）</td>
                                <td>12℃ </td>
                                <td> 5%</td>
                                <td>45℃</td>
                                <td>20%</td>
                                <td> 5klux </td>
                                <td>20ppm</td>
                            </tr>
                            <tr>
                                <td>2017.05.18<br>16:00:56</td>
                                <td>东北风</td>
                                <td>4（m/s）</td>
                                <td>500（mm/min）</td>
                                <td>12℃ </td>
                                <td> 5%</td>
                                <td>45℃</td>
                                <td>20%</td>
                                <td> 5klux </td>
                                <td>20ppm</td>
                            </tr>
                            <tr>
                                <td>2017.05.18<br>16:00:56</td>
                                <td>东北风</td>
                                <td>4（m/s）</td>
                                <td>500（mm/min）</td>
                                <td>12℃ </td>
                                <td> 5%</td>
                                <td>45℃</td>
                                <td>20%</td>
                                <td> 5klux </td>
                                <td>20ppm</td>
                            </tr>
                            <tr>
                                <td>2017.05.18<br>16:00:56</td>
                                <td>东北风</td>
                                <td>4（m/s）</td>
                                <td>500（mm/min）</td>
                                <td>12℃ </td>
                                <td> 5%</td>
                                <td>45℃</td>
                                <td>20%</td>
                                <td> 5klux </td>
                                <td>20ppm</td>
                            </tr>
                            <tr>
                                <td>2017.05.18<br>16:00:56</td>
                                <td>东北风</td>
                                <td>4（m/s）</td>
                                <td>500（mm/min）</td>
                                <td>12℃ </td>
                                <td> 5%</td>
                                <td>45℃</td>
                                <td>20%</td>
                                <td> 5klux </td>
                                <td>20ppm</td>
                            </tr>
                            <tr>
                                <td>2017.05.18<br>16:00:56</td>
                                <td>东北风</td>
                                <td>4（m/s）</td>
                                <td>500（mm/min）</td>
                                <td>12℃ </td>
                                <td> 5%</td>
                                <td>45℃</td>
                                <td>20%</td>
                                <td> 5klux </td>
                                <td>20ppm</td>
                            </tr>
                            <tr>
                                <td>2017.05.18<br>16:00:56</td>
                                <td>东北风</td>
                                <td>4（m/s）</td>
                                <td>500（mm/min）</td>
                                <td>12℃ </td>
                                <td> 5%</td>
                                <td>45℃</td>
                                <td>20%</td>
                                <td> 5klux </td>
                                <td>20ppm</td>
                            </tr>

                     </table>
                </div>
                <div class="content_right_one_bottom">

                    <div class="box">
                        <div id="pagination3" class="page fl"></div>
                        <div class="info fl">
                            <p>当前页数：<span id="current3">4</span></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="footer_all"></div>

<script src="js/jzny.js"></script>

</body>
</html>




