<!DOCTYPE html>
<html lang="en">
<head>
    <base href="${request.contextPath}/"/>
    <meta name=”renderer” content=”webkit|ie-comp|ie-stand” />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta name="keywords" content="快速开发平台,Web快速开发平台,ASP.NET快速开发平台,工作流,快速开发框架,软件可视化开发平台,快速开发 开源,快速开发平台 开源,APP快速开发,敏捷开发框架,快速开发" />
    <meta name="description" content="力软敏捷开发框架，是一个Web可视化开发平台，是一个集PC快速开发、组织架构、工作流、表单设计、自定义报表、APP快速开发等全方位功能于一体的高效、稳定的快速开发平台。" />
    <link rel="icon" href="/favicon.ico">
    <title>登录</title>
    <script src="Content/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="Content/css/login.css">
</head>
<body>

<div class="content_all">
    <div class="content">
        <div class="input_all">
            <div class="input_ input_user">
                <div class="img_img"><img src="images/user.png" alt=""></div>
                <input class="user_input" type="text">
            </div>


            <div class="input_ input_password">
                <div class="img_img"><img src="images/password.png" alt=""></div>
                <input class="password_input" type="password">
            </div>

            <!--<div class="input_submit">登录 </div>-->
            <input class="input_submit" type="button" value="登录">

        </div>
    </div>
</div>

</body>
</html>