<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

<div class="content_all">
    <div class="content">
        <div class="input_all">
            <div class="input_ input_user">
                <div class="img_img"><img src="images/user.png" alt=""></div>
                <input class="user_input" type="text">
            </div>


            <div class="input_ input_password">
                <div class="img_img"><img src="images/password.png" alt=""></div>
                <input class="password_input" type="password">
            </div>

            <!--<div class="input_submit">登录 </div>-->
            <input class="input_submit" type="button" value="登录">

        </div>
    </div>
</div>

</body>
</html>