<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="css/nybk_liebiao.css">
    <link rel="stylesheet" href="lib/jqueryPagination/css/jquery.pagination.css" />
    <link rel="stylesheet" href="css/fenye.css">
</head>
<body>
<div class="content_all">
    <div class="content_title">
        <p>农技推广</p>
        <div class="content_title_ss">
            <input class="ss_input" type="text">
            <div class="ss_button"><img src="images/ss_button.png" alt=""></div>
        </div>
    </div>
    <div class="content_table">
        <table style="border-collapse:collapse;">

                <tr>
                    <td>1</td>
                    <td> <a href="#">农药管理条例中针对假农药，劣质农药做出了那些要求和制约  </a></td>
                    <td>2015-50-26</td>
                </tr>
            <tr>
                <td>1</td>
                <td> <a href="#">农药管理条例中针对假农药，劣质农药做出了那些要求和制约  </a></td>
                <td>2015-50-26</td>
            </tr>
            <tr>
                <td>1</td>
                <td> <a href="#">农药管理条例中针对假农药，劣质农药做出了那些要求和制约  </a></td>
                <td>2015-50-26</td>
            </tr>
            <tr>
                <td>1</td>
                <td> <a href="#">农药管理条例中针对假农药，劣质农药做出了那些要求和制约  </a></td>
                <td>2015-50-26</td>
            </tr>
            <tr>
                <td>1</td>
                <td> <a href="#">农药管理条例中针对假农药，劣质农药做出了那些要求和制约  </a></td>
                <td>2015-50-26</td>
            </tr>
            <tr>
                <td>1</td>
                <td> <a href="#">农药管理条例中针对假农药，劣质农药做出了那些要求和制约  </a></td>
                <td>2015-50-26</td>
            </tr>
            <tr>
                <td>1</td>
                <td> <a href="#">农药管理条例中针对假农药，劣质农药做出了那些要求和制约  </a></td>
                <td>2015-50-26</td>
            </tr>
            <tr>
                <td>1</td>
                <td> <a href="#">农药管理条例中针对假农药，劣质农药做出了那些要求和制约  </a></td>
                <td>2015-50-26</td>
            </tr>
            <tr>
                <td>1</td>
                <td> <a href="#">农药管理条例中针对假农药，劣质农药做出了那些要求和制约  </a></td>
                <td>2015-50-26</td>
            </tr>
            <tr>
                <td>1</td>
                <td> <a href="#">农药管理条例中针对假农药，劣质农药做出了那些要求和制约  </a></td>
                <td>2015-50-26</td>
            </tr>

        </table>
    </div>
    <div class="content_fy">



        <div class="box">
            <div id="pagination3" class="page fl"></div>
            <div class="info fl">
                <!--<p>当前页数：<span id="current3">4</span></p>-->
            </div>
            <script src="js/fenye.js"></script>
            <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
            <script src="lib/jqueryPagination/js/jquery.pagination.min.js"></script>
        </div>










    </div>

</div>
<script src="js/nybk_liebiao.js"></script>
</body>
</html>