<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>互联网+农业云</title>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/common_click.js"></script>
    <script src="js/echarts.min.js"></script>
    <link rel="stylesheet" href="css/nybk.css">
    <link rel="stylesheet" href="css/common.css">

</head>
<body>
<div class="top_all">
    <p class="top_title">互联网+农业云</p>
    <div class="top_user">
        <div class="user_user">
            <div class="top_user_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_user_name">你好！管理员</p>
        </div>

    </div>


    <div class="top_out">
        <div class="out_out">
            <div class="top_out_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_out_name">退出</p>
        </div>

    </div>



</div>

<!--图表-->
<div class="content_all">
    <div class="content">
        <div class="content_left">
            <a   href="nybk_liebiao.html"   target="myFrameName">
            <div class="nybk_click">
                <p class="nybk_click_text">农技推广</p>
                <p class="nybk_click_title">共285条信息</p>
                <div class="three"></div>
            </div>
            </a>
            <a   href="nybk_liebiao.html"   target="myFrameName">
            <div class="nybk_click">
                <p class="nybk_click_text">药肥知识</p>
                <p class="nybk_click_title">共285条信息</p>
                <div class="three"></div>
            </div>
            </a>
            <a   href="nybk_liebiao.html"   target="myFrameName">
            <div class="nybk_click">
                <p class="nybk_click_text">作物百科</p>
                <p class="nybk_click_title">共285条信息</p>
                <div class="three"></div>
            </div>
                </a>
            <a   href="nybk_liebiao.html"   target="myFrameName">
            <div class="nybk_click">
                <p class="nybk_click_text">虫害防治</p>
                <p class="nybk_click_title">共285条信息</p>
                <div class="three"></div>
            </div>
            </a>


            <!--<iframe id="myFrameId" name="myFrameName" scrolling="no" frameborder="0"></iframe>-->
            <!--　　<a href="../XX.action?codeInfo=Demo123" target="myFrameName" >跳转</a>-->

        </div>
        <div class="nybk_right">
            <iframe src="nybk_xq.html"   name="myFrameName" style="width: 100%;height: 100%" frameborder="0"  scrolling="no"></iframe>
        </div>
    </div>

</div>


<div class="footer_all"></div>

<script src="js/nybk.js"></script>
</body>
</html>




