<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>农业大数据</title>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/common_click.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/nydsj.css">






</head>
<body>
<div class="top_all">
    <p class="top_title">互联网+农业云</p>
    <div class="top_user">
        <div class="user_user">
            <div class="top_user_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_user_name">你好！管理员</p>
        </div>

    </div>


    <div class="top_out">
        <div class="out_out">
            <div class="top_out_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_out_name">退出</p>
        </div>

    </div>



</div>

<!--图表-->
<div class="content_all">

    <div class="left_all">
        <div class="left_one">
            <p class="left_one_title">粮食价格</p>
            <div class="left_one_echarts">
                <div id="main" style="width: 100%;height:100%;"></div>
                <script type="text/javascript">
                    if (screen.width>1919)
                        document.write('<script type="text/javascript" src="js/nydsj_echarts_1920.js"><\/script>');
                    if (screen.width<1919){
                        document.write('<script type="text/javascript" src="js/nydsj_echarts_1440.js"><\/script>');
                    }
                </script>
            </div>
        </div>
        <div class="left_two two">
            <p class="left_one_title">水稻产量</p>
            <div id="main2" style="width: 100%;height:100%;"></div>
            <script type="text/javascript">
                if (screen.width>1919)
                    document.write('<script type="text/javascript" src="js/nydsj_echarts_1920.js"><\/script>');
                if (screen.width<1919){
                    document.write('<script type="text/javascript" src="js/nydsj_echarts_1440.js"><\/script>');
                }
            </script>
        </div>
        <div class="left_three two">
            <p class="left_three_title">水稻产量</p>
            <div id="main3" style="width: 100%;height:100%;"></div>
            <script type="text/javascript">
                if (screen.width>1919)
                    document.write('<script type="text/javascript" src="js/nydsj_echarts_1920.js"><\/script>');
                if (screen.width<1919){
                    document.write('<script type="text/javascript" src="js/nydsj_echarts_1440.js"><\/script>');
                }
            </script>

        </div>
    </div>

    <div class="center_all">
        <div class="map_all">
            <div class="content_map">
                <img src="images/map2.png" alt="">
            </div>
        </div>
        <div class="content_echarts">
            <div  class="content_echarts_one">
                <p class="content_title">土壤PH值</p>
                <div id="main4" class="echarts_one"></div>
                <script type="text/javascript">
                    if (screen.width>1919)
                        document.write('<script type="text/javascript" src="js/nydsj_echarts_1920.js"><\/script>');
                    if (screen.width<1919){
                        document.write('<script type="text/javascript" src="js/nydsj_echarts_1440.js"><\/script>');
                    }
                </script>






            </div>

            <div  class="content_echarts_two">
                <p class="content_title">土壤PH值</p>
                <table class="center_table">


                    <tr>
                        <td>2017-1-12</td>
                        <td>黑河/小中华基地</td>
                        <td>雨量</td>
                        <td>6ml</td>
                        <td><img src="images/top.png" alt=""></td>

                    </tr>
                    <tr>
                        <td>2017-1-12</td>
                        <td>黑河/小中华基地</td>
                        <td>雨量</td>
                        <td>6ml</td>
                        <td><img src="images/top.png" alt=""></td>

                    </tr>
                    <tr>
                        <td>2017-1-12</td>
                        <td>黑河/小中华基地</td>
                        <td>雨量</td>
                        <td>6ml</td>
                        <td><img src="images/bottom.png" alt=""></td>

                    </tr>

                    <tr>
                        <td>2017-1-12</td>
                        <td>黑河/小中华基地</td>
                        <td>雨量</td>
                        <td>6ml</td>
                        <td><img src="images/top.png" alt=""></td>

                    </tr>



                </table>

            </div>

        </div>
    </div>

    <div class="right_all">
        <div class="right_one">


            <div class="right_one_1">
                <p class="right_one_1_title">种植面积</p>
                <div class="right_one_1_echarts">
                    <div class="right_one_1_echarts_table">
                        <div class="right_one_1_echarts_tr">
                            <div class="right_one_1_echarts_tr_td1">水稻</div>
                            <div class="right_one_1_echarts_tr_td2">
                                <div>1</div>
                                <div>2</div>
                                <div>3</div>
                                <div>4</div>
                                <div>4</div>
                                <div>5</div>
                            </div>

                            <div class="right_one_1_echarts_tr_td3">㎡</div>
                        </div>
                        <div class="right_one_1_echarts_tr">
                            <div class="right_one_1_echarts_tr_td1">玉米</div>
                            <div class="right_one_1_echarts_tr_td2">
                                <div>1</div>
                                <div>2</div>
                                <div>3</div>
                                <div>4</div>
                                <div>4</div>
                                <div>5</div>
                            </div>

                            <div class="right_one_1_echarts_tr_td3">㎡</div>
                        </div>
                        <div class="right_one_1_echarts_tr">
                            <div class="right_one_1_echarts_tr_td1">大豆</div>
                            <div class="right_one_1_echarts_tr_td2">
                                <div>1</div>
                                <div>2</div>
                                <div>3</div>
                                <div>4</div>
                                <div>4</div>
                                <div>5</div>
                            </div>

                            <div class="right_one_1_echarts_tr_td3">㎡</div>
                        </div>


                    </div>



                </div>
            </div>


            <div class="right_one_2">
                <p class="right_one_2_title">化肥</p>
                <div id="main5" class="right_one_2_echarts">
                    <script type="text/javascript">
                        if (screen.width>1919)
                            document.write('<script type="text/javascript" src="js/nydsj_echarts_1920.js"><\/script>');
                        if (screen.width<1919){
                            document.write('<script type="text/javascript" src="js/nydsj_echarts_1440.js"><\/script>');
                        }
                    </script>


                </div>
            </div>
        </div>
        <div class="right_one two">
            <div class="right_one_1">
                <p class="right_one_1_title">有效钾</p>
                <div id="main6" class="right_one_1_echarts">
                    <script type="text/javascript">
                        if (screen.width>1919)
                            document.write('<script type="text/javascript" src="js/nydsj_echarts_1920.js"><\/script>');
                        if (screen.width<1919){
                            document.write('<script type="text/javascript" src="js/nydsj_echarts_1440.js"><\/script>');
                        }
                    </script>

                </div>
            </div>
            <div class="right_one_2">
                <p class="right_one_2_title">有效磷</p>
                <div id="main7" class="right_one_2_echarts">


                    <script type="text/javascript">
                        if (screen.width>1919)
                            document.write('<script type="text/javascript" src="js/nydsj_echarts_1920.js"><\/script>');
                        if (screen.width<1919){
                            document.write('<script type="text/javascript" src="js/nydsj_echarts_1440.js"><\/script>');
                        }
                    </script>

                </div>
            </div>
        </div>
        <div class="right_one two">

            <div id="main8" class="right_bottom">
                <script type="text/javascript">
                    if (screen.width>1919)
                        document.write('<script type="text/javascript" src="js/nydsj_echarts_1920.js"><\/script>');
                    if (screen.width<1919){
                        document.write('<script type="text/javascript" src="js/nydsj_echarts_1440.js"><\/script>');
                    }
                </script>

            </div>
        </div>
    </div>

</div>

<div class="footer_all"></div>



</body>
</html>




