<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>互联网+农业云</title>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/common_click.js"></script>
    <script src="js/echarts.min.js"></script>
    <link rel="stylesheet" href="css/zjwd_xq.css">
    <link rel="stylesheet" href="css/common.css">
    <style>
        /*--------------小于1920------------------*/
        @media screen and (max-width: 1919px) {

            .nztj_all{
                padding: 0 7%;
                border-bottom: 1px solid #11518e;
            }
            .nztj_all p {
                margin-bottom: 0;
            }
            .xd_xq_hd_wz {

                height: 200px;
                line-height: 20px;
            }
            .wd_xq_right {
                height: 100%;
            }
            .wd_xq_left {
                height:100%;
            }
        }
    </style>

</head>
<body>
<div class="top_all">
    <p class="top_title">互联网+农业云</p>
    <div class="top_user">
        <div class="user_user">
            <div class="top_user_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_user_name">你好！管理员</p>
        </div>

    </div>


    <div class="top_out">
        <div class="out_out">
            <div class="top_out_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_out_name">退出</p>
        </div>

    </div>



</div>


<div class="content_all">
    <div class="content_center">
        <div class="wd_xq_left">
            <div class="wd_xq_top">
                <p class="wd_xq_top_title"><img src="images/f058.png" alt=""><span>专家与新手解决问题能力的差异 </span></p>
                <p class="wd_xq_top_title_user"><img src="images/26.png" alt=""><span>小猪会飞</span><span>2018-26-52</span></p>
            </div>
            <div class="xd_xq_spreak">
                <p>专家总是纵观整个问题的背景和其中各成分间的关系，因而根据问题解决时所使用的原则或方法来理解问题；而新手却只看 </p>
                <div class="xd_xq_img">
                    <div><img src="images/31.png" alt=""></div>
                    <div><img src="images/32.png" alt=""></div>
                    <div><img src="images/33.png" alt=""></div>
                    <div><img src="images/34.png" alt=""></div>
                </div>
            </div>
            <div class="xd_xq_hd">
                <div class="xd_xq_hd_box">
                    <div class="xd_xq_hd_img"><img src="images/f058.png" alt=""></div>
                    <p class="xd_xq_hd_wz"> 表面：问题从简到繁、从易到难。字数从少到多逐步诱导，尽量采用打钩的选择题。内在：从简单理性问答逐渐过渡到感性、想象、内心的挖掘。表面：问题从简到繁、从易到难。字数从少到多逐步诱导，尽量采用打钩的选择题。内在：从简单理性问答逐渐过渡到感性、想象、内心的挖掘。表：问题从简到繁、从易到难。字数从少到多逐步诱导，尽量采用打钩的选择题。内在：从简单理性问答逐渐过渡到感性、想象、内心的挖掘。表面：问题从简到繁、从易到难。字数从少到多逐步诱导，尽量采用打钩的选择题。内在：从简单理性问答逐渐过渡到感性、想象、内心的挖掘。表：问题从简到繁、从易到难。字数从少到多逐步诱导，尽量采用打钩的选择题。内在：从简单理性问答逐渐过渡到感性、想象、内心的挖掘。表面：问题从简到繁、从易到难。字数从少到多逐步诱导，尽量采用打钩的选择题。内在：从简单理性问答逐渐过渡到感性、想象、内心的挖掘。表面：问题从简到繁、从易到难。字数从少到多逐步诱导，尽量采用打钩的选择题。内在：从简单理性问答逐渐过渡到感性、想象、内心的挖掘。 </p>

                </div>
                <div class="xd_xq_hd_user">
                    <img src="images/29.png" alt="">
                    <span>孙杜</span>
                    <span>2017-20-52</span>
                </div>
            </div>


        </div>
        <div class="wd_xq_right">
            <div class="nztj_top">农资推荐</div>
            <div class="nztj_all">
                    <p class="nztj_h1">拜耳农贸连锁</p>
                    <p class="nztj_h2">三环锉------防止稻瘟病专用杀虫剂</p>
                    <p class="nztj_h3">肥料和农药混合施用,治虫效果更好。如用1%的尿素液,尿素液,加0.1%浓度...</p>
                    <div class="nztj_h4">
                        <div class="nztj_h4_left"><img src="images/location.png" alt=""><span>景观路16号</span></div>
                        <div class="nztj_h4_right"><img src="images/iPhone.png" alt=""><span>139-4568-2568</span></div>
                    </div>

            </div>
            <div class="nztj_all">
                <p class="nztj_h1">拜耳农贸连锁</p>
                <p class="nztj_h2">三环锉------防止稻瘟病专用杀虫剂</p>
                <p class="nztj_h3">肥料和农药混合施用,治虫效果更好。如用1%的尿素液,尿素液,加0.1%浓度...</p>
                <div class="nztj_h4">
                    <div class="nztj_h4_left"><img src="images/location.png" alt=""><span>景观路16号</span></div>
                    <div class="nztj_h4_right"><img src="images/iPhone.png" alt=""><span>139-4568-2568</span></div>
                </div>

            </div>
            <div class="nztj_all">
                <p class="nztj_h1">拜耳农贸连锁</p>
                <p class="nztj_h2">三环锉------防止稻瘟病专用杀虫剂</p>
                <p class="nztj_h3">肥料和农药混合施用,治虫效果更好。如用1%的尿素液,尿素液,加0.1%浓度...</p>
                <div class="nztj_h4">
                    <div class="nztj_h4_left"><img src="images/location.png" alt=""><span>景观路16号</span></div>
                    <div class="nztj_h4_right"><img src="images/iPhone.png" alt=""><span>139-4568-2568</span></div>
                </div>

            </div>
            <div class="nztj_all">
                <p class="nztj_h1">拜耳农贸连锁</p>
                <p class="nztj_h2">三环锉------防止稻瘟病专用杀虫剂</p>
                <p class="nztj_h3">肥料和农药混合施用,治虫效果更好。如用1%的尿素液,尿素液,加0.1%浓度...</p>
                <div class="nztj_h4">
                    <div class="nztj_h4_left"><img src="images/location.png" alt=""><span>景观路16号</span></div>
                    <div class="nztj_h4_right"><img src="images/iPhone.png" alt=""><span>139-4568-2568</span></div>
                </div>

            </div>

        </div>
    </div>


</div>

<div class="footer_all"></div>

 <script src="js/zjwd_xq.js"></script>
</body>
</html>




