<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>互联网+农业云</title>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/common_click.js"></script>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/common.css">
    <link href="css/zjwd_1440.css" rel="stylesheet" type="text/css" media="screen and (max-width: 1919px)">
    <link href="css/zjwd.css" rel="stylesheet" type="text/css" media="screen and (min-width: 1919px)">
    <link rel="stylesheet" href="lib/jqueryPagination/css/jquery.pagination.css" />

    <script src="lib/jqueryPagination/js/jquery.pagination.min.js"></script>
    <style>
        /*----------------------------------------分页--------------------------------*/

        .box {
            width: 700px;
            margin: 0 auto;
            margin-top: 5px;
            height: 34px;
        }

        .page {
            width: 600px;
        }

        .info {
            width: 100px;
            height: 34px;
            line-height: 34px;
            color: white;
        }

        .fl {
            float: left;
        }

    </style>
</head>
<body>
<div class="top_all">
    <p class="top_title">互联网+农业云</p>
    <div class="top_user">
        <div class="user_user">
            <div class="top_user_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_user_name">你好！管理员</p>
        </div>

    </div>


    <div class="top_out">
        <div class="out_out">
            <div class="top_out_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_out_name">退出</p>
        </div>

    </div>



</div>

<div  class="content_all">
    <div class="zj_img">
        <div class="zj_img_left"><img src="images/Shape17.png" alt=""></div>
        <div class="zj_img_right"><img src="images/Shape19.png" alt=""></div>
        <div class="zj_img_center">
            <div class="zj_img_box_all">
                <div class="zj_img_box">
                    <img src="images/17.png" alt="">
                    <div class="zj_name">
                        <p >林奕含1</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>


                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/18.png" alt="">
                    <div class="zj_name">
                        <p >林奕含2</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>

                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/19.png" alt="">
                    <div class="zj_name">
                        <p >林奕含3</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>


                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/20.png" alt="">
                    <div class="zj_name">
                        <p >林奕含4</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>

                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/21.png" alt="">
                    <div class="zj_name">
                        <p >林奕含5</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>


                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/22.png" alt="">
                    <div class="zj_name">
                        <p >林奕含6</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>

                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/17.png" alt="">
                    <div class="zj_name">
                        <p >林奕含1</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>


                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/18.png" alt="">
                    <div class="zj_name">
                        <p >林奕含2</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>

                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/19.png" alt="">
                    <div class="zj_name">
                        <p >林奕含3</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>


                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/20.png" alt="">
                    <div class="zj_name">
                        <p >林奕含4</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>

                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/21.png" alt="">
                    <div class="zj_name">
                        <p >林奕含5</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>


                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/22.png" alt="">
                    <div class="zj_name">
                        <p >林奕含6</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>

                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/17.png" alt="">
                    <div class="zj_name">
                        <p >林奕含1</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>


                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/18.png" alt="">
                    <div class="zj_name">
                        <p >林奕含2</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>

                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/19.png" alt="">
                    <div class="zj_name">
                        <p >林奕含3</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>


                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/20.png" alt="">
                    <div class="zj_name">
                        <p >林奕含4</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>

                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/21.png" alt="">
                    <div class="zj_name">
                        <p >林奕含5</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>


                    </div>



                </div>
                <div class="zj_img_box">
                    <img src="images/22.png" alt="">
                    <div class="zj_name">
                        <p >林奕含6</p>
                        <p>哈尔滨农业大学农学系教授</p>
                    </div>
                    <div class="zj_bottom">
                        <div class="zj_bottom_left">
                            <div><img src="images/23.png" alt=""></div>
                            <div>4658</div>
                        </div>
                        <div class="zj_bottom_right">
                            <div><img src="images/24.png" alt=""></div>
                            <div>3690</div>
                        </div>

                    </div>



                </div>






            </div>


        </div>



    </div>
    <div class="zjwd">
        <div class="zjwd_title_img">
            <img src="images/f058.png" alt="">
        </div>
        <div class="zjwd_title">专家问答</div>
        <div class="zjwd_content_all">
            <div class="zjwd_content">
                <p class="zjwd_content_tiwen"><span class="tx_img"><img src="images/26.png"></span> <span class="tx_tw">这几天地里出现大量的害虫</span> <span class="tx_time">2018-09-04</span></p>
                <p class="zjwd_content_huida">
                    <span class="tx_img"><img src="images/29.png"></span>
                    <span class="tx_hd">需要提前做好预防工作措施，按切断喷洒农药，对日常害虫及时有效的做好预防工作，对特殊害虫进行需要提前做好预防工作措施...</span>
                </p>
            </div>
            <div class="zjwd_content">
                <p class="zjwd_content_tiwen"><span class="tx_img"><img src="images/26.png"></span> <span class="tx_tw">这几天地里出现大量的害虫</span> <span class="tx_time">2018-09-04</span></p>
                <p class="zjwd_content_huida">
                    <span class="tx_img"><img src="images/29.png"></span>
                    <span class="tx_hd">需要提前做好预防工作措施，按切断喷洒农药，对日常害虫及时有效的做好预防工作，对特殊害虫进行需要提前做好预防工作措施...</span>
                </p>
            </div>
            <div class="zjwd_content">
                <p class="zjwd_content_tiwen"><span class="tx_img"><img src="images/26.png"></span> <span class="tx_tw">这几天地里出现大量的害虫</span> <span class="tx_time">2018-09-04</span></p>
                <p class="zjwd_content_huida">
                    <span class="tx_img"><img src="images/29.png"></span>
                    <span class="tx_hd">需要提前做好预防工作措施，按切断喷洒农药，对日常害虫及时有效的做好预防工作，对特殊害虫进行需要提前做好预防工作措施...</span>
                </p>
            </div>
            <div class="zjwd_content">
                <p class="zjwd_content_tiwen"><span class="tx_img"><img src="images/26.png"></span> <span class="tx_tw">这几天地里出现大量的害虫</span> <span class="tx_time">2018-09-04</span></p>
                <p class="zjwd_content_huida">
                    <span class="tx_img"><img src="images/29.png"></span>
                    <span class="tx_hd">需要提前做好预防工作措施，按切断喷洒农药，对日常害虫及时有效的做好预防工作，对特殊害虫进行需要提前做好预防工作措施...</span>
                </p>
            </div>
            <div class="zjwd_content">
                <p class="zjwd_content_tiwen"><span class="tx_img"><img src="images/26.png"></span> <span class="tx_tw">这几天地里出现大量的害虫</span> <span class="tx_time">2018-09-04</span></p>
                <p class="zjwd_content_huida">
                    <span class="tx_img"><img src="images/29.png"></span>
                    <span class="tx_hd">需要提前做好预防工作措施，按切断喷洒农药，对日常害虫及时有效的做好预防工作，对特殊害虫进行需要提前做好预防工作措施...</span>
                </p>
            </div>
            <div class="zjwd_content">
                <p class="zjwd_content_tiwen"><span class="tx_img"><img src="images/26.png"></span> <span class="tx_tw">这几天地里出现大量的害虫</span> <span class="tx_time">2018-09-04</span></p>
                <p class="zjwd_content_huida">
                    <span class="tx_img"><img src="images/29.png"></span>
                    <span class="tx_hd">需要提前做好预防工作措施，按切断喷洒农药，对日常害虫及时有效的做好预防工作，对特殊害虫进行需要提前做好预防工作措施...</span>
                </p>
            </div>

        </div>
        <div class="fenye">
            <div class="box">
                <div id="pagination3" class="page fl"></div>
                <div class="info fl">
                    <p>当前页数：<span id="current3">4</span></p>
                </div>

            </div>
        </div>



    </div>


</div>


<div class="footer_all"></div>

<script src="js/zjwd.js"></script>
</body>
</html>




