<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>互联网+农业云</title>
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/common_click.js"></script>

    <link rel="stylesheet" href="css/common.css">

    <link rel="stylesheet" href="css/zlzs_img_click.css">
    <link rel="stylesheet" href="css/zlzs.css">


        <style type="text/css">
                              .swiper-container {
                                  width: 100%;
                                  height: 100%;
                              }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>



</head>
<body>
<div class="top_all">
    <p class="top_title">互联网+农业云</p>
    <div class="top_user">
        <div class="user_user">
            <div class="top_user_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_user_name">你好！管理员</p>
        </div>

    </div>


    <div class="top_out">
        <div class="out_out">
            <div class="top_out_img">
                <img src="images/icon.png" alt="">

            </div>
            <p class="top_out_name">退出</p>
        </div>

    </div>



</div>

<!--图表-->
<div class="content_all">

    <div class="content">
        <div class="content_top">
            <div class="find_all">
                <input class="find" type="text">
                <div class="find_button"><img src="images/search.png" alt=""></div>
            </div>
            <p class="chanpin_name">当前产品：<span>金福乔福大院稻花香2号</span></p>


        </div>
        <div class="content_left">
            <div class="content_left_content">
                <p class="spjs_title">商品介绍</p>
                <div class="spjs_box">
                <div class="spjs_lun">
                    <!--img-->

                        <div class="swiper-container bigImg" id="vertical" style="position: relative;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="images/06.png" id="midimg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/06.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/06.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/06.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/06.png"/>
                                </div>
                            </div>
                        </div>
                        <!--控制按钮-->
                        <ul class="jt_box clearfix">
                            <li class="jt_left swiper-button-prev">
                                <a href="#" onclick="return false">
                                    <div class="jt_title">
                                        <img src="images/jt_left1.png"/>
                                    </div>
                                    <div class="jt_copy">
                                        <img src=""/>
                                    </div>
                                </a>
                            </li>
                            <li class="jt_right swiper-button-next">
                                <a href="#" onclick="return false">
                                    <div class="jt_title">
                                        <img src=""/>
                                    </div>
                                    <div class="jt_copy">
                                        <img src="images/jt_tight1.png"/>
                                    </div>
                                </a>
                            </li>
                        </ul>

                </div>
                <div class="spjs_js">
                    <p class="spjs_js_title">金福桥大院-稻花香</p>
                    <div class="spjs_wz_box">
                        <div class="spjs_left">规格</div>
                        <div class="spjs_right">5202g</div>
                    </div>
                    <div class="spjs_wz_box">
                        <div class="spjs_left">价格</div>
                        <div class="spjs_right">128.00</div>
                    </div>
                    <div class="spjs_wz_box">
                        <div class="spjs_left">产品批号</div>
                        <div class="spjs_right">BGT/4524826</div>
                    </div>
                    <div class="spjs_wz_box">
                        <div class="spjs_left">保质期</div>
                        <div class="spjs_right">180天</div>
                    </div>
                    <div class="spjs_wz_box">
                        <div class="spjs_left">认证类别</div>
                        <div class="spjs_right">有机食品</div>
                    </div>


                </div>

            </div>
                <p class="scqyjs_title">生产企业介绍</p>
                <div class="scqyjs_box">
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">企业名称</div>
                        <div class="qyjs_right">五常市金福泰农业股份有限公司</div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">负责人</div>
                        <div class="qyjs_right">乔文志</div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">联系电话</div>
                        <div class="qyjs_right">17758887728</div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">地址</div>
                        <div class="qyjs_right">哈尔滨,五常市,杜家镇半截河子村</div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">地块位置</div>
                        <div class="qyjs_right">卫国乡，杜家镇 </div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">院稻花香2</div>
                        <div class="qyjs_right">中华人民共和国国家旅游局(简称"国家旅游局"),是国务院主管旅游工作的直属机构。主要职能是: (一)研究拟定旅游业发展的方针、政策和规划,研究解决旅游经济运行中的.</div>

                    </div>

                </div>

        </div>
        </div>
        <div class="content_center">
            <div class="content_center_one">
                <p class="qszq_title">配送管理</p>
                <div class="qszq_click">
                    <div class="qszq_click_right">
                       <div class="xian"></div>
                        <div class="qszq_click_right_img">
                            <div class="yuan_all">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>







                        </div>

                    </div>
                    <div class="qszq_click_left">
                        <div class="qszq_click_left_button">2018-05-12</div>
                        <div class="qszq_click_left_button">2018-05-12</div>
                        <div class="qszq_click_left_button">2018-05-12</div>
                        <div class="qszq_click_left_button">2018-05-12</div>
                        <div class="qszq_click_left_button">2018-05-12</div>
                        <div class="qszq_click_left_button">2018-05-12</div>
                        <div class="qszq_click_left_button">2018-05-12</div>
                        <div class="qszq_click_left_button">2018-05-12</div>
                        <div class="qszq_click_left_button">2018-05-12</div>
                        <div class="qszq_click_left_button">2018-05-12</div>


                    </div>



                </div>
                <div class="qszq_img">
                    <div class="qszq_img_all">
                        <img src="images/11.png" alt="">
                    </div>
                </div>
            </div>
            <div class="content_center_two">
                <p class="qszq_title">配送管理</p>
                <div class="qszq_click">
                    <div class="qszq_click_right">
                        <div class="xian"></div>
                        <div class="qszq_click_right_img">
                            <div class="yuan_all2">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all2">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all2">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all2">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all2">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all2">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all2">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all2">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all2">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>
                            <div class="yuan_all2">
                                <div class="yuan1 yuan"><img src="images/c1.png" alt=""></div>
                                <div class="yuan2 yuan"><img src="images/c3.png" alt=""></div>
                            </div>








                        </div>

                    </div>
                    <div class="qszq_click_left">
                        <div class="qszq_click_left_button2">2018-05-12</div>
                        <div class="qszq_click_left_button2">2018-05-12</div>
                        <div class="qszq_click_left_button2">2018-05-12</div>
                        <div class="qszq_click_left_button2">2018-05-12</div>
                        <div class="qszq_click_left_button2">2018-05-12</div>
                        <div class="qszq_click_left_button2">2018-05-12</div>
                        <div class="qszq_click_left_button2">2018-05-12</div>
                        <div class="qszq_click_left_button2">2018-05-12</div>
                        <div class="qszq_click_left_button2">2018-05-12</div>
                        <div class="qszq_click_left_button2">2018-05-12</div>


                    </div>



                </div>
                <div class="qszq_img">
                    <div class="scqyjs_box">
                        <div class="qyjs_wz_box">
                            <div class="qyjs_left">运输时间</div>
                            <div class="qyjs_right">2017-09-21</div>

                        </div>
                        <div class="qyjs_wz_box">
                            <div class="qyjs_left">贮存温度</div>
                            <div class="qyjs_right">5~10°C</div>

                        </div>
                        <div class="qyjs_wz_box">
                            <div class="qyjs_left">车辆描述</div>
                            <div class="qyjs_right">17758887728</div>

                        </div>
                        <div class="qyjs_wz_box">
                            <div class="qyjs_left">车  牌  号</div>
                            <div class="qyjs_right">黑A 58923</div>

                        </div>
                        <div class="qyjs_wz_box">
                            <div class="qyjs_left">负  责  人</div>
                            <div class="qyjs_right">杜家镇  </div>

                        </div>
                        <div class="qyjs_wz_box">
                            <div class="qyjs_left">运输数量</div>
                            <div class="qyjs_right">1000 </div>

                        </div>
                        <div class="qyjs_wz_box">
                            <div class="qyjs_left">运输数量</div>
                            <div class="qyjs_right">1000 </div>

                        </div>
                        <div class="qyjs_wz_box">
                            <div class="qyjs_left">运输数量</div>
                            <div class="qyjs_right">1000 </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
        <div class="content_right">
            <div class="content_left_content">
                <p class="scqyjs_title">配送管理</p>
                <div class="scqyjs_box">
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">运输时间</div>
                        <div class="qyjs_right">2017-09-21</div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">贮存温度</div>
                        <div class="qyjs_right">5~10°C</div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">车辆描述</div>
                        <div class="qyjs_right">17758887728</div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">车  牌  号</div>
                        <div class="qyjs_right">黑A 58923</div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">负  责  人</div>
                        <div class="qyjs_right">杜家镇  </div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">运输数量</div>
                        <div class="qyjs_right">1000 </div>

                    </div>


                </div>
                <p class="scqyjs_title">加工管理</p>
                <div class="scqyjs_box">
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">加工批次</div>
                        <div class="qyjs_right">20160001 </div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">加工时间</div>
                        <div class="qyjs_right">2016-12-01 </div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">负  责  人</div>
                        <div class="qyjs_right">许川</div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">生产批次</div>
                        <div class="qyjs_right">20160001 </div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">检验时间</div>
                        <div class="qyjs_right">2016-12-02 </div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">检查项目</div>
                        <div class="qyjs_right">水分  </div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">检查数量</div>
                        <div class="qyjs_right">50000(KG)  </div>

                    </div>
                    <div class="qyjs_wz_box">
                        <div class="qyjs_left">检查结果</div>
                        <div class="qyjs_right">合格  </div>

                    </div>


                </div>

            </div>
        </div>

    </div>



</div>

<div class="footer_all"></div>

<script src="js/zlzs.js"></script>
<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<!--点击方法-->
<script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
</body>
</html>




