<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzxuni.modules.system.mapper.nydsj.HfMapper">
    <select id="findmohuHf" resultType="com.lzxuni.modules.system.entity.nydsj.Hf" parameterType="com.lzxuni.modules.system.entity.nydsj.Hf">
          SELECT * FROM tbl_nydsj_hf WHERE  category LIKE CONCAT(CONCAT('%', #{category}), '%') OR weight LIKE CONCAT(CONCAT('%', #{weight}), '%')
    </select>
    <select id="queryList" resultType="com.lzxuni.modules.system.entity.nydsj.Hf" parameterType="com.lzxuni.modules.system.entity.nydsj.Hf">
        SELECT * FROM tbl_nydsj_hf
    </select>
</mapper>