<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzxuni.modules.system.mapper.nydsj.SdclMapper">
    <select id="findmohuSdcl" resultType="com.lzxuni.modules.system.entity.nydsj.Sdcl" parameterType="com.lzxuni.modules.system.entity.nydsj.Sdcl">
          SELECT * FROM tbl_nydsj_sdcl WHERE  yield LIKE CONCAT(CONCAT('%', #{yield}), '%') OR village LIKE CONCAT(CONCAT('%', #{village}), '%') OR  years LIKE CONCAT(CONCAT('%', #{years}), '%')
    </select>
    
    <select id="queryList" parameterType="com.lzxuni.modules.system.entity.nydsj.Sdcl" resultType="com.lzxuni.modules.system.entity.nydsj.Sdcl">
      SELECT  * FROM tbl_nydsj_sdcl
    </select>
</mapper>