<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzxuni.modules.system.mapper.nydsj.ZzmjMapper">
    <select id="findmohuZzmj" resultType="com.lzxuni.modules.system.entity.nydsj.Zzmj" parameterType="com.lzxuni.modules.system.entity.nydsj.Zzmj">
          SELECT * FROM tbl_nydsj_zzmj WHERE  category LIKE CONCAT(CONCAT('%', #{category}), '%') OR area LIKE CONCAT(CONCAT('%', #{area}), '%')
    </select>
    <select id="queryList" parameterType="com.lzxuni.modules.system.entity.nydsj.Zzmj" resultType="com.lzxuni.modules.system.entity.nydsj.Zzmj">
        SELECT * FROM  tbl_nydsj_zzmj
    </select>
</mapper>